
#File_List{
    display:table
}
.MultiFile-label {
    display:table-row
}
.MultiFile-remove{
    display:table-cell;
    padding-left:5px;

}
.MultiFile-label div{
    display:table-cell;
    padding-left:10px;

}

.MultiFile-label span{
    _display:normal;
    _padding-left:5px;
}


.XMultiFile-tags{
    display:table-cell;
    padding-left:5px;
}
.alert .glyphicon{
    display:table-cell;
    font-size:24px;
    padding-left: 0px;
    vertical-align: middle;
}

.alert .errortext{
    vertical-align: middle;
    padding-left: 5px;
    display:table-cell;
}
.sitelogo {
    vertical-align: middle;
    max-height: 75px;
}
.logoheader {
    display: table-cell; 
    vertical-align: middle
}
.siteheader {
    display: table-cell; 
    vertical-align: middle; 
    padding-left: 10px;
}
.sitelanguage{
    display:table-cell;
    vertical-align:middle;
    ;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.bs-callout {
    padding: 15px 15px 0px 0px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

